{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="alert alert-success">
        <h4>Commande n°{{ booking.orderId }}</h4>
        Votre réservation a bien été prise en compte. Un email de confirmation vous a été adressé à l'adresse <strong>{{ booking.email }}</strong>.<br/>
        Pour toute question, n'hésitez pas à contacter notre service client par <a href="#">mail</a> ou par téléphone au 01.22.33.44.55.
    </div>

{% endblock %}