{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <p>Votre réservation à bien été prise en compte. Un email de confirmation vous a été adressé.</p>

{% endblock %}