<nav>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: #ffffe6; margin-top: -0.4%;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="color:white;">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('booking') }}">Réserver</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>