{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Réservation
{% endblock %}

{% block body %}
    <h1>Réserver vos billets - Ajout des informations</h1>
    <br/>
    <h2>Billets : </h2>
    <br/>

    <div class="well">
        {{ form_start(visitorForm) }}
        {% for visitor in visitorForm %}
            {{ form_widget(visitor) }}
        {% endfor %}
        <input type="submit" value="Valider">
        {{ form_end(visitorForm) }}

    </div>
{% endblock %}