<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Musée du Louvre{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% endblock %}
</head>

<body>
	<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Musée du Louvre</h1>
        </div>
      </div>

    <div class="container">
    	{% block body  %}
		{% endblock %}
	
		<hr>
    </div>
	

	<footer class="container">
		<p>Musée du Louvre © {{ 'now'|date('Y') }}.</p>
	</footer>

	{% block javascripts %}
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	{% endblock %}
</body>
</html>