#visitor_form_section{
    margin-top: 1%;
    margin-bottom: 2%;
}

#visitor_form_section h3 {
    text-decoration: underline;
}

#payment_section{
    margin-top: 1%;
    margin-bottom: 2%;
}

#confirmed_section{
    margin-top: 1%;
    margin-bottom: 2%;
}