{% extends "ProjectBookingBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Réservation
{% endblock%}
	
{% block body %}
	{{ parent() }}
	<h1>Réserver vos billets</h1>
	<div class="well">
		Ici se trouvera le formulaire.
	</div>
{% endblock %}