{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent () }}
{% endblock %}

{% block menu %}
	{{ include("ProjectBookingBundle:Booking:menu.html.twig") }}
{% endblock %}

{% block body %}
	<p>
		Bienvenue sur le site de réservation de billet pour le musée du Louvre. Acheter vos billets directement en ligne et gagner du temps sur votre visite !
	</p>
{% endblock %}